<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Trang chủ</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-sharp"></ion-icon>
      <ion-label>Tìm kiếm</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="store">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Giỏ hàng</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Tài khoản</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>