ion-content {
  --background: #152d57;
}

ion-title {
  text-align: center;
  font-weight: bold;
}

ion-item {
  --background: #152d57;
}
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
